<div class="navbar text-center navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("https://banner2.cleanpng.com/20180809/fz/kisspng-logo-brand-product-design-font-superauto-superauto-5b6c327123ec91.3115616215338174571472.jpg", alt: "Nav Icon", class: "menu_icon", height: '250', width: '200') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "text-decoration-none nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Cars", dashboard_path, class: "text-decoration-none nav-link" %>
          </li>
          <li class="nav-item">
            <%# Replace the hash symbol with the my_bookings_path once the page is created %>
            <%= link_to "My Bookings", dashboard_path, class: "text-decoration-none nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://swaleocean.co.uk/wp-content/uploads/2014/12/blank-profile.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Settings", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
        <li class="nav-item">
            <%= link_to "Home", root_path, class: "text-decoration-none nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cars", cars_path, class: "text-decoration-none nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://swaleocean.co.uk/wp-content/uploads/2014/12/blank-profile.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
