<h1>Welcome to SuperAuto</h1>
<p>Explore a new city with our car rentals.</p>

<%= link_to 'Browse Cars', cars_path, class: 'btn btn-primary' %>
<%= link_to 'Go to Profile', dashboard_path, class: 'btn btn-secondary' %>

<% if user_signed_in? %>
  <%= link_to 'Log Out', destroy_user_session_path, class: 'btn btn-warning', data: { turbo_method: :delete } %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success' %>
  <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-warning' %>
<% end %>
