<h1 class="mb-5">This is the page where you can see all the cars to rent</h1>

<% @cars.each do |car| %>
  <ul class="mb-5">
      <li><%= car.title %></li>
      <li><%= car.description %></li>
      <li><%= car.price_per_day %></li>
      <li>Owner: <%= car.user.first_name %> <%= car.user.last_name %></li>
      <li><%= link_to "See this car", car_path(car.id) %></li>
  </ul>
.car-container {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
<% end %>
