<<<<<<< HEAD
<div class="car-container d-flex flex-column mt-5">
  <div class="dashboard-header mb-5"> <!-- Added 'mb-5' for margin-bottom -->
    <h1>Car Details</h1>
    <h2 class="center-text">Explore the specifics of this car</h2>
  </div>
  <div class="car-picture mb-4"></div>
  <div class="d-flex justify-content-between" data-controller="total-price">
    <div class="car-info d-flex flex-column">
      <h2><%= @car.title %></h2>
      <h2 data-total-price-target="pricePerDay"><%= @car.price_per_day %><span>$ / day</span></h2>
      <p class="mt-4"><strong>DESCRIPTION</strong></p>
      <p><%= @car.description %></p>
    </div>
    <div class="booking-info d-flex flex-column">
      <div class="d-flex">
        <div>Total:</div>
        <h5 data-total-price-target="total">0</h5>
        <h5>$</h5>
      </div>
      <%= render "bookings/booking_form", car: @car, booking: @booking %>
=======
<h1>This is the show page</h1>

<ul>
  <li><%= @car.title %></li>
  <li><%= @car.description %></li>
  <li><%= @car.price_per_day %></li>
  <li><%= link_to "Book this car", new_car_booking_path(@car) %></li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag @car.photo.key, class: "img-fluid" %>
>>>>>>> 5a580f2dcf68caae17ca0fe6565ca5234ff42688
    </div>
  </div>
</div>
